.upper_main {
    display: flex;
    flex-direction: column;
    height: 110%;
    width: 100vw;
    align-items: center;
    justify-content: flex-end;
}
.subdiv{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: flex-start;
    width: 100%;
    height: 90%;
    background-color: #D3D3D3;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
    padding: 0.5%;
    margin-right: 1%;
}
.upper_first {
    display: flex;
    flex-direction: column;
    height: 90%;
    min-width: 10%;
    max-width: 50%;
    justify-content: flex-start;
    align-items: baseline;
}

.upper_second {
    display: flex;
    width: 30%;
    margin-left: 3%;
    flex-direction: column;
    justify-content: center;
}

.upper_thrid {
    display: flex;
    flex-direction: column;
    height:900%;
    width: 90%;
    border-radius: 20px;
    
}

img {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 5%;
    transition: transform .2s;
}
img:hover{
    transform: scale(1.0675);
}

button {
    min-width: 100%;
    max-width: 100%;
    height: 15%;
    background-color: black;
    color: white;
    border: solid white 2px;
    font-size: x-large;
    transition: transform .2s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
button:hover{
    transform: scale(1.125);
}
.box {
    display: flex;
    height: fit-content;
    width: fit-content;
    text-align: start;
    padding-left: 1%;
    margin-bottom: 1%;
    flex-direction: column;
    background-color:   #282c34;
    justify-content: space-between;
    transition: transform .2s;
    border: solid black 1px;
    border-radius: 5px;
}
.box:hover{
    transform: scale(1.125);
}

.container1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    min-width: 30%;
}

.container2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.upper_sub {    
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
    min-height: 70%;
    min-width: 90%;
    margin-bottom: 4%;
    padding-left: 5%;
    padding-right: 5%;
    align-items: flex-start;
    justify-content: space-evenly;
}

.rulebox {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-height: 600px;
    max-width: 800px;
    background-color:  #D3D3D3;
    overflow-y: scroll;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    color:rgb(22, 17, 17);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
}
.rulebox ol{
    padding-left: 10%;
}

.prize {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    font-size: large;
    margin-left: 2%;
    transition: transform .2s;
}
.prize:hover{
    transform: scale(1.125);
}

.registeration {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: large;
    width: fit-content;
    border-radius: 5px;
    padding: 5%;
    margin: 5%;
    color: white;
    transition: transform .2s;
    background-color:#282c34;
}
.registeration:hover{
    transform: scale(1.125);
}

.headTitle{
    display: flex;
    margin-left: 10%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
}
h2{
    margin: 1%;
}
@media all and (max-width: 1000px) {

    /* For desktop: */
    .upper_sub {
        height: 100%;
        width: 100vw;
        flex-direction: column;
        justify-self: flex-end;
        align-items: center;
    }
    .subdiv{
        flex-direction: row;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .img {
        width: 100%;
        height: 100%;

    }
    .upper_thrid {
        min-width: 90%;
        max-width: 90%;
        height: 90%;
        margin-bottom: 4%;
    }

    .registeration {
        margin: 10%;
    }
    h2{
        margin: 10%;
    }

    .prize {
        margin: 10%;
    }
}

@media all and (max-width: 800px) {

    /* For desktop: */
    .upper_sub {
        height: 100%;
        width: 100vw;
        flex-direction: column;
        justify-self: flex-end;
        align-items: center;
    }
    .subdiv{
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .img {
        width: 100%;
        height: 100%;

    }

    .upper_first {
        display: flex;
        flex-direction: column;
        min-width: 90%;
        height: 90%;
        align-items: center;
        justify-content: center;
    }
    .box{
        width: 100%;
    }

    .upper_second {
        justify-content: center;
        min-width: 90%;
        max-width: 90%;
        height: 100%;
        margin-bottom: 4%;
        margin-top: 4%;

    }

    .upper_thrid {
        min-width: 90%;
        max-width: 90%;
        height: 90%;
        margin-bottom: 4%;
    }

    .registeration {
        margin: 10%;
    }
    h2{
        margin: 10%;
    }

    .prize {
        margin: 10%;
    }
}