.App {
  display: flex;
  text-align: center;
  min-height: 100%;
  justify-content: center;
  background-size: cover;
  overflow-x: hidden;
  background-color: #0c1559;
  background: linear-gradient(black,#141e2f);
}


.App-header {
  min-height: 100%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.background{
  width: 100%;
  height: 100%;
  position: fixed;
}
